.container {
    -fx-border-color: white;
    -fx-border-width: 5;
    -fx-border-style: solid;
    -fx-background-color: white;
    -fx-background-radius: 15;
}

.input-text {
    -fx-box-shadow: 4px 2px 2px 0px rgba(128, 126, 126, 0.30), -3px -1px 4px 0px rgba(0, 0, 0, 0.30);
}