.shadow {
    -fx-background-color: #1A1A19;
    -fx-box-shadow: 2px 2px 4px 0px rgba(181, 178, 178, 0.25), 2px 2px 4px 0px rgba(181, 178, 178, 0.25) inset;
}

.navBTN:hover {
    -fx-background-color-color: #146886;
    -fx-border-color:  #90571C;
    -fx-border-width: 0px 0px 0px 3px;
    -fx-text-fill:  #90571C;
}

.itemcartbtn:hover {
    -fx-background-color-color: #146886;
    -fx-border-color: #90571C;
}

.btnShadows {
    -fx-border-radius: 20px;
    -fx-background-color: #90571C;
    -fx-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
